main{
  width: 400px;
  margin: 0 auto;
  background: red;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

h3{
  color: white;
  font-family: "Twiddlestix";
  padding: 10px;
}

li{
  color: white;
  font-family: "Twiddlestix";
  padding: 10px;
}

a{
  padding: 10px;
  font-family: "Twiddlestix";
  color: white
}

img{
  padding: 20px;
}

